.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  
  .sort-select {
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
  }
  
  .sort-select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Styles for screens smaller than 768px (common breakpoint for mobile devices) * */
  @media (max-width: 768px) {
    .controls-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .sort-select {
      margin-bottom: 10px;
    }
  }

  .error-message {
    color: #ff0000;
    background-color: #ffecec;
    border: 1px solid #ffadad;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  